name: Code Analysis

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main
      - develop
      - 'releases/**'

jobs:
  sonarqube:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        # Disabling shallow clones is recommended for improving the relevancy of reporting
        fetch-depth: 0
    - name: SonarQube Scan
      uses: SonarSource/sonarqube-scan-action@v6.0.0
      #env:
      #  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Set up JDK 11 for x64
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'temurin'
        architecture: x64
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
      with:
        gradle-version: '9.1'

    - name: Build with Gradle
      run: ./gradlew clean build

    # Initializes CodeQL tools and creates a codebase for analysis.
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v4
      with:
        languages: java
        analysis-kinds: code-scanning,code-quality

    # Initializes CodeQL tools and creates a codebase for analysis.
    - name: Analize CodeQL
      uses: github/codeql-action/analyze@v4
        
        